<div align="center">
	<h1>Editing Project</h1>
</div>
<%= render 'form', project: @project %>
<br>
<div align="center">
	<button><%= link_to 'Show', @project %> |
	<%= link_to 'Back', projects_path %></button>
</div>
