<p id="notice"><%= notice %></p>
	<%= @project.project_name %><br/>
<div align="center">
	<button><%= link_to 'Edit', edit_project_path(@project) %> |
	<%= link_to 'Back', projects_path %></button>
</div>
