<div align="center">
	<h1>Editing Role</h1>
</div>
<%= render 'form', role: @role %>
<br>
<div align="center">
	<button><%= link_to 'Show', @role %> |
	<%= link_to 'Back', roles_path %></button>
</div>
